
/**Discover-videos-app - version 1.01  - global.css - Features:
 * 
 *      --> Changing background and color font
 * 
 * Note: Here is added the google font for all the document
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black ;
    background: white;
  }
}
